@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins:wght@200&display=swap');

/* styles file */
@import url('./responsive.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mouse Memoirs', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}

.footerFont {
  text-align: justify;
  font-weight: 400;
  line-height: 24px;
  spacing: 10px;
}

.nav_element {
  font-family: 'Poppins', sans-serif;
}

.logo_name {
  font-family: 'Mouse Memoirs', sans-serif;
}

/* mobile sidebar */
.sidebar_overlay_icon {
  border-bottom: 2px solid black;
}

.desc_scroll {
  overflow-y: scroll;
  background: transparent;
  scrollbar-width: none;
  scroll-behavior: smooth;

}

.desc_scroll::-webkit-scrollbar {
  display: none;
}

.desc_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dpro_detail {
  text-align: justify;
  color: gray;
  font-weight: 300;
  font-size: 16px;
}

.product_star {
  color: yellow;
  line-height: 25px;
}

.btn_Quantity {
  border: 1px solid gray;
  padding: 15px 10px;
}

.btn_card {
  border: 1px solid white;
  padding: 20px 50px;
  background-color: black;
  color: white;
}

.banner_box_first {
  padding-left: 7.25rem;
  padding-right: 7.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.banner_box_img {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 250px;
  height: 260px;
  margin-left: -14px;
}


.botton_more {
  font-size: 14px;
  color: #ffff;
  padding: 10px;
  font-weight: 400;
  background-color: #0074B6;
  border-radius: 50px 50px 50px 50px;
  width: 112px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.PTZ_box {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.ptz_box_img {
  background-image: url("../assets/imgthree.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 617px;
  height: 381px;
  margin-top: 20px;
  margin-bottom: 40px;
}


.ptz_box_img_two {
  background-image: url("../assets/imgtwo.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 208px;
  height: 134px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.ptz_box_img_three {
  background-image: url("../assets/imgone.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 208px;
  height: 134px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.img_container {
  position: relative;
  cursor: pointer;
}

.img_container:hover .translate_box {
  transition: all .3s ease-in-out;
  transform: translateY(-20px);
  opacity: 1;
}

.Add_cart {
  font-size: 16px;
  color: #ffff;
  padding: 10px;
  font-weight: 400;
  background-color: #0074B6;
  border-radius: 50px 50px 50px 50px;
  width: 136px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  transform: translate(-134px, -12px);
  transition: all .7s ease-in-out;
  opacity: 0;
  visibility: hidden;
  margin-top: -15px;
}

.img_container:hover .Add_cart {
  transform: translate(-2px, -40px);
  opacity: 1;
  visibility: visible;
}

.img_container:hover .text_box_product {
  visibility: hidden;
}

.img_container_two {
  position: relative;
  cursor: pointer;
}

.img_container_two:hover .translate_box_two {
  transition: all .5s ease-in-out;
  transform: translateY(-20px);
  opacity: 1;
}

.img_container_three {
  position: relative;
  cursor: pointer;
}

.img_container_three:hover .translate_box_three {
  transition: all .5s ease-in-out;
  transform: translateY(-20px);
  opacity: 1;
}


.Add_cart_small {
  font-size: 14px;
  color: #ffff;
  padding: 10px;
  font-weight: 400;
  background-color: #0074B6;
  border-radius: 50px 50px 50px 50px;
  width: 114px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  transition: all .5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  margin-top: 5px;
}

.img_container_three:hover .Add_cart_small {
  transform: translateY(-5px);
  opacity: 1;
  visibility: visible;
}

.img_container_two:hover .Add_cart_small {
  transform: translateY(-5px);
  opacity: 1;
  visibility: visible;
}

#hr_nav {
  background-color: #ffff;
  -webkit-transform: rotate(90deg);
  width: 28px;
  height: 1.5px;
  border: 1.5px;
}



.long_arrow_forward {
  position: relative;
  padding-top: 27px;
  width: 10%;
}

.long_arrow_forward-arrow {
  position: absolute;
  top: 21.7px;
  right: -4.5px;
  z-index: 1;
}

.long_line {
  border-bottom: 1.5px solid black;
}

.long_line2 {
  width: 80%;
  margin-top: -28px;
  margin-left: -120px;
  border-bottom: 2px solid black;
}

.long_arrow-text {
  position: absolute;
  top: 13px;
  right: -75px;
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}

.PTZ_box_two {
  margin-left: -75px;
  margin-bottom: 35px;
}

.ptz_box_img_five {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 208px;
  height: 134px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.Brands_icon {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  width: 190px;
  height: 89px;
}

.circle-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
}

.text_head_monial{
  flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textimonials_hover_box :hover{
background-color: #F0F0F0;
border-radius: 2%;
}

.img_container:hover .ptz_box_img{
  transform: scale(0.8);
  transition: all .7s ease-in-out;
}

.img_container_two:hover .ptz_box_img_two{
  transform: scale(0.8);
  transition: all .7s ease-in-out;
}

.img_container_three:hover .ptz_box_img_three{
  transform: scale(1.2);
  transition: all .7s ease-in-out;
}

.new_product_box_size:hover .ptz_box_img_five{
  transform: scale(0.8);
  transition: all .7s ease-in-out;
}

.new_product_box{
  padding-right: 7.8rem;
  padding-left: 7.8rem
}
.new_product_box_size{
  margin: 0.84rem;
} 


.scroll_custom {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.scroll_custom{
  width: 100% !important;
  overflow-x: scroll !important;
  background: transparent !important;
  scrollbar-width: none !important;
  scroll-behavior: smooth !important;
  }
  .scroll_custom::-webkit-scrollbar {
    display: none !important;
  }
  

  /* mobile view */

  .ptz_box_mobile {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    width: 174px;
    height: 116px;
    margin-bottom: 20px;
    margin-top: 8px;
  }

  .Add_cart_small_mob {
    font-size: 13px;
    color: #ffff;
    padding: 6px;
    font-weight: 400;
    background-color: #0074B6;
    border-radius: 50px 50px 50px 50px;
    width: 106px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 14px;
  }

  .tab_sm_mobile_view{
    width: 90vw;
  }

  .mobile_slider {
    z-index: 700;
  }